{% load i18n %}
{% load socialaccount %}
{% load static %}
<form method="post" class="mt-2" action="{% provider_login_url app.provider %}">
  {% csrf_token %}
  <button class="btn btn-primary btn-outline btn-block flex justify-center my-2" type="submit">
    {% static 'images/socialauth' as base_url %}
    <img class="socialicon mr-2" src="{{ base_url }}/{{ app.provider }}-logo.svg" alt="{{ app.name }} {% translate 'Logo' %}">
    {% translate "Continue with" %} {{ app.name }}
  </button>
</form>
